* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 0;

}

.container {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.today {
  flex-direction: column;
  width: 50vw;
  height: 66vh;
  border: 1px solid black;
}

.current-condition, .current-info {
  width: 100%;
}

.current-condition {
  flex-direction: column;
}

#current-icon {
  font-size: 10em;
}

.current-right, .current-left {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-right {
  justify-content: flex-start;
  align-items: flex-start;

}

.temp {
  height: 50%;
  width: 100%
}